main {
    background-color: pink;
    width: 100%;
    height: 100%;
}

.a {
    filter:  sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
}

.b {
    filter:   sepia(100%) saturate(300%) brightness(70%) hue-rotate(30deg);
}

.c {
    filter:   sepia(100%) saturate(300%) brightness(70%) hue-rotate(330deg);
}

.gallery {
    position: relative;
    margin: 0 auto;
    border: 5px solid blue;
}

.overflow {
    overflow: hidden;
}

.images {
    position: absolute;
    display: flex;
    transition: .3s;
}

.noTransition {
    transition: none;
}

.next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 50px;
    height: 50px;
    background-color: yellow;
    transition: .3s;
}

.next:hover {
    transform: translateY(-50%) scale(1.2);
    background-color: white;
    cursor: pointer;
}

.next:active {
    background-color: green;
}

.prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: yellow;
    transition: .3s;
}

.prev:hover {
    transform: translateY(-50%) scale(1.2);
    background-color: white;
    cursor: pointer;
}

.prev:active {
    background-color: green;
}

.overflowToggle {
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 50px auto;
    transition: .3s;
}

.overflowToggle:hover {
    transform: scale(1.2);
    background-color: white;
    cursor: pointer;
}

.overflowToggle:active {
    background-color: green;
}