body {
    background-color: pink;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.a {
    filter:  sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
}

.b {
    filter:   sepia(100%) saturate(300%) brightness(70%) hue-rotate(30deg);
}

.c {
    filter:   sepia(100%) saturate(300%) brightness(70%) hue-rotate(330deg);
}

.galleryWrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: auto;

}

.gallery {
    position: relative;
    width: 100%;
    height: 100%;
}

.gallery::after {
    position: absolute;
    border: 5px dashed blue;
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.overflow {
    overflow: hidden;
}

.images {
    position: absolute;
    display: flex;
    transition: .5s;
}

.noTransition {
    transition: none;
}

.next, .prev {
    transition: .2s;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;  
    cursor: pointer;
    width: 0;
    height: 0;
}

.next {
    right: 0;
    border-left: 25px solid white;
}

.next:hover {
    border-left-color: lightblue;
    transform: scale(1.2);
}

.next:active {
    border-left-color: blue;
}

.prev {
    left: 0;
    border-right: 25px solid white;
}

.prev:hover {
    border-right-color: lightblue;
    transform: scale(1.2);
}

.prev:active {
    border-right-color: blue;
}

.overflowToggle {
    width: 120px;
    height: 50px;
    background-color: white;
    transition: .2s;
    z-index: 1;
}

.overflowToggle:hover {
    transform: scale(1.2);
    background-color:lightblue;
    cursor: pointer;
    transform: scale(1.2);

}

.overflowToggle:active {
    background-color: blue;
}

.controls {
    display: flex;
    flex-direction: row-reverse;
    width: 100%; 
    justify-content: space-between;
    margin-top: 5%;
}

.slide {
    opacity: 100%;
}