body {
    background-color: pink;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.a {
    filter:  sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
}

.b {
    filter:   sepia(100%) saturate(300%) brightness(70%) hue-rotate(30deg);
}

.c {
    filter:   sepia(100%) saturate(300%) brightness(70%) hue-rotate(330deg);
}

.galleryWrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.gallery {
    position: relative;
    margin: 0 auto;
}

.gallery::after {
    position: absolute;
    border: 5px dashed blue;
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.overflow {
    overflow: hidden;
}

.images {
    position: absolute;
    display: flex;
    transition: .3s;
}

.noTransition {
    transition: none;
}

.next, .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: .2s;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;  
    cursor: pointer;
}

.next {
    right: 0%;
    border-left: 60px solid gray;
}

.next:hover {
    transform: translateY(-50%) scale(1.2);
    border-left-color: white;
}

.next:active {
    border-left-color: blue;
}

.prev {
    left: 0%;
    border-right: 60px solid gray;
}

.prev:hover {
    transform: translateY(-50%) scale(1.2);
    border-right-color: white;
}

.prev:active {
    border-right-color: blue;
}

.overflowToggle {
    position: absolute;
    width: 120px;
    height: 50px;
    background-color: gray;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s;
    z-index: 1;
}

.overflowToggle:hover {
    transform: translateX(-50%) scale(1.2);
    background-color: white;
    cursor: pointer;
}

.overflowToggle:active {
    background-color: blue;
}